@media ( max-width: 1200px )
  .container
    max-width: 992px
  .hotel
    .swiper
      max-width: 610px
      &-slide
        &__image
          height: 100%
          object-fit: cover
@media  ( max-width: 992px )
  .container
    max-width: 768px
  .header
    &__logo
      width: 130px
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .hotel
    &-preview
      flex-direction: column
    .hotel-preview
      &__flex
        width: 100%
        justify-content: space-between
        flex-direction: row
      &__swiper
        margin-bottom: 30px
    .swiper
      max-width: 100%
      &-slide
        &__image
          width: 100%
    .map
      max-width: 350px
@media ( max-width: 768px )
  .container
    max-width: 95%
  .nav
    &__link
      font-size: 12px
  .hotel
    .booking
      max-width: 340px
    .map
      max-width: 340px
@media ( max-width: 730px )
  .hotel
    .hotel-preview
      &__flex
        flex-direction: column
    .swiper
      height: 350px
    .booking
      max-width: 100%
    .map
      max-width: 100%
@media ( max-width: 700px )
  .header
    &__search
      display: none
  .user
    display: none
  .burger-menu
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 16px
    height: 11px
    padding: 0

    border: none
    background-color: #fff
    cursor: pointer
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .nav
    display: none
  .hotel
    &__flex
      display: flex
      flex-wrap: wrap
      justify-content: space-between
    &__rating-stars
      max-width: max-content
      order: 0
    &__title
      margin-top: 10px
      order: 1
      flex-basis: 100%
    &__flash-offer
      order: -1
    &__features
      order: 2
    &__user-rating
      display: none
@media ( max-width: 576px )
  .hotel
    .swiper
      height: 215px