@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      max-width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .packages
    &-grid
      grid-gap: 20px
    &__first
      display: grid
      grid-template-columns: 317px 317px 317px
    &-card
      &__image
        height: 50%
        object-fit: cover
        &--main
          height: 100%
          object-fit: cover
    &-info
      padding: 20px
    &__description
      margin-bottom: 50px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container, .newsletter-container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-reservation
      flex-direction: row
      justify-content: space-between
    &-slider
      max-width: 700px
  .booking
    width: 340px
  .map
    width: 340px
  .packages
    &-grid
      grid-gap: 20px
    &__first
      grid-template-columns: 230px 230px 1fr
    &__second
      display: flex
      flex-direction: column
    &-info
      padding: 15px
    &-card
      &__image
        height: 100%
        object-fit: cover
    &-short
      padding: 15px
    &__subtitle
      margin: 0
      font-weight: bold
      font-size: 14px
      line-height: 20px
    &__description
      margin-top: 50px
      margin-bottom: 55px
      font-size: 12px
      line-height: 18px
    &__link
      padding-left: 20px
      margin-top: 10px
      margin-bottom: 11px
      font-size: 12px
    &__guest
      padding-left: 20px
      font-size: 12px
    &__room
      padding-left: 20px
      font-size: 12px
    &__discont
      font-size: 20px
      line-height: 35px
    &__button
      position: absolute
      bottom: 17px
      right: 21px
      padding: 7px 15px
      font-size: 12px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 47%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
  .modal
    &__dialog
      padding: 33px 44px
      width: 400px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      max-width: 245px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
      &__link
        display: flex
        margin-bottom: 20px
  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-top: 10px
    &__avatar
      margin-right: 0
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-reservation
      flex-direction: column
      min-height: 450px
    &-slider
      width: 100%
      height: 350px
  .packages
    &__title
      margin-bottom: 45px
      font-size: 30px
      line-height: 35px
    &-grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr
      grid-gap: 0
      grid-row-gap: 20px
    &__grid
      margin-bottom: 40px
    &-card
      &__image
        object-fit: cover        
        width: 288px
    &__first
      position: relative
      display: flex
      &::before
        content: 'Flash Offer'
        position: absolute
        top: 30px
        left: 0
        width: 60px
        height: 18px
        padding-top: 7px
        padding-left: 9px
        font-weight: 600
        font-size: 8px
        line-height: 10px
    &__second
      grid-column-start: 1
      grid-column-end: 1
      flex-direction: row
    &-info
      padding: 25px
    &-short
      width: 100%
      padding: 35px 15px 15px 15px
    &__description
      margin-top: 40px
      margin-bottom: 15px
      &--secondary
        display: block
        margin-top: 40px
        margin-bottom: 15px
    &__button
      position: absolute
      bottom: 70px
      right: 25px
      padding: 7px 15px
      font-size: 12px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-container
      max-width: 567px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -90px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -90px
      &__text
        max-width: 455px
    &__title
      font-size: 30px
      line-height: 38px
  .card
    width: 48.5%
    height: 255px
  .footer
    &__disclaimer
      max-width: 695px
      margin-top: 65px
      display: flex
      align-items: center
      margin-left: auto
    &__input
      height: 40px
      &-group
        flex-basis: 100%

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .packages
    &__grid
      
    &__title
      margin-bottom: 25px
      font-size: 24px
      line-height: 30px
    &__first
      height: 100%
      flex-direction: column
    &-info
      height: 100%
      width: 100%
    &-card
      &__image
        width: 100%
        max-height: 250px
    &__second
      height: 100%
      flex-direction: column
    &-short
      height: 250px
      width: 100%
      padding: 15px
    &__description
      display: none
    &__button
      position: absolute
      bottom: 30px
      right: 25px
      padding: 7px 15px
      font-size: 12px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__subscribe
      max-width: 300px
  .activities
    padding-top: 50px
    padding-bottom: 40px
    &__title
      margin-bottom: 35px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .footer
    padding-bottom: 20px
    &__disclaimer
      height: 60px
      max-width: 695px
      margin-top: 100px
      display: flex
      flex-wrap: wrap
      font-size: 12px
      line-height: 15px
    &-wrapper
      grid-template-columns: minmax(100px, 576px)
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        flex-wrap: wrap
        flex-direction: column
        position: relative
        grid-row: 7
        grid-column: 1
    &__button
      position: absolute
      bottom: -65px
      left: 0
    &__dialog
      padding: 22px
      width: 300px
    &__info
      margin-bottom: 15px
  .modal
    &__dialog
      padding: 22px
      width: 300px
    &__button
      margin-top: 20px
      margin-bottom: 20px
    &__form
      position: relative
    &__info
      position: absolute
      bottom: 80px
      left: 0


@media screen and ( max-width: 320px )
  .container
    width: 92%
  .hotel
    padding-bottom: 40px
    &-reservation
      min-height: 410px
    &-slider
      height: 180px
  .booking
    padding: 29px 22px 25px
  .map
    &__iframe
      height: 180px
  .newsletter
    height: 320px
    &__subscribe
      max-width: 280px
  .reviews
    padding-bottom: 40px
    &__title
      max-width: 245px
      margin-left: auto
      margin-right: auto
      margin-bottom: 40px
      font-size: 18px
      line-height: 23px
