.header
  background-color: #fff

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 40px 0

.search
  position: relative
  overflow: hidden
  &__input
    width: 350px
    height: 40px
    padding-top: 12px
    padding-bottom: 12px
    padding-left: 25px

    font-size: 12px
    line-height: 15px

    border: none
    border-radius: 6px
    background-color: #f5fafe
  &__button
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 40px
    
    border: none
    // background-color: $primary
    font-family: inherit