.hotel
  padding-top: 23px
  padding-bottom: 20px
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__rating-stars
    flex-basis: 100%    
  &__title
    margin-top: 4px
    margin-bottom: 0
    margin-right: 14px
    display: inline-block
    font-weight: 700
    font-size: 24px
    line-height: 1.24
    text-transform: uppercase
  &__flash-offer
    display: inline-block
    vertical-align: text-bottom
    align-self: flex-start
    padding: 7px 9px
    background-color: $primary
    border-radius: 3px
    color: #fff
    font-weight: 600
    font-size: 10px
    line-height: 1
  &__features
    display: block
    font-size: 12px
    line-height: 15px
  &__user-rating
    max-width: 65px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 7px
    color: $light
    border-radius: 4px
    background-color: $primary
  &__user-text
    font-weight: 600
    font-size: 8px
    line-height: 1
  &__user-number
    font-weight: 700
    font-size: 14px
    line-height: 1.18
  &__user-counter
    font-size: 10px